.card {
  border: 10px solid #e4ced9;
  border-radius: 16px;
  overflow: hidden;
  max-height: 430px;
}

.card p {
  font-family: avenir, sans-serif;
  font-weight: 500;
}

h2 {
  color: #a13757;
  font-family: avenir, sans-serif;
  font-weight: 500;
}

h3 {
  font-family: avenir, sans-serif;
  font-weight: 500;
}

nav {
  background-color: #a13757;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-family: avenir, sans-serif;
  font-weight: 500;
}
